<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @task.memo %>
</p>

<p>
  <strong>Endate:</strong>
  <%= @task.endate %>
</p>

<p>
  <strong>Prority:</strong>
  <%= @task.prority %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>Label:</strong>
  <%= @task.label %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
